<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.example.demo.mapper.StudentMapper">
    <select id="selectAll" resultMap="BaseResultMap">
        select * from student
    </select>
    <resultMap id="BaseResultMap" type="com.example.demo.bean.Student">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="sex" property="sex" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="INTEGER"></result>
    </resultMap>
</mapper>